;; shadow-cljs configuration
{:source-paths
 ["src/dev" "src/main" "src/test"]

 :dependencies
 [[binaryage/devtools "1.0.3"]
  [reagent "1.1.0"]
  [re-frame "1.2.0"]
  [devcards "0.2.7"]
  [day8.re-frame/re-frame-10x "1.1.13"]
  [metosin/malli "0.6.1"]]

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"

        :js-options
        {:ignore-asset-requires true}

        :modules
        {:main
         {:entries [wijngaard.core]}}

        :devtools
        {:http-root "public"
         :http-port 8080
         :preloads [devtools.preload]}

        :release
        {:output-dir "dist/js"}}

  :tests {:target :browser-test
          :test-dir "dist/js/test"
          :devtools  {:http-port          8021
                      :http-root          "dist/js/test"}
          :auto-run true}}}
